* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body 
{
    min-height: 100vh;
    background:linear-gradient(130deg, rgb(102, 126, 234, 0.15), rgb(118, 75, 162, 0.15)), url(./assets/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.container 
{
    width: 500px;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
    padding: 40px;
    border-radius: 10px;
}

h1 
{
    margin-bottom: 25px;
}

.timer 
{
    font-size: 5rem;
    font-weight: bold;
    margin: 25px 0;
    font-family: 'Courier New', Courier, monospace;
}

.controls 
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

button 
{
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s;
}

#start-btn 
{
    background: #12b886;
    color: #fff;   
}

#start-btn:hover
{
    transform: translateY(-5px);
    background: #099268;
}

#pause-btn 
{
    background: #fff3bf;
}

#pause-btn:hover
{
    background: #ffd43b;
    transform: translateY(-5px);
}

#reset-btn 
{
    background: #099268;
    color: #fff;
}

#reset-btn:hover
{
    background: #087f5b;
    transform: translateY(-5px);
}


.session-type
{
    font-size: 1.5rem;
    margin-bottom: 25px;
    font-weight: bold;
}

.progress-container 
{
    width: 100%;
    height: 10px;
    background: rgba(255, 255, 255, 0.2);
    margin: 20px 0;
    border-radius: 5px;
    overflow: hidden;
}


.progress-bar
{
    height: 100%;
    background: #12b886;
    width: 0%;
    transition: width 1s linear;
}

.settings
{
    margin-top: 25px;
    text-align: left;
}

.setting-group
{
    margin: 15px 0;
}

label 
{
    display: block;
    margin-bottom: 5px;
}

input
{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);

}

input:focus
{
    outline: none;
    background: rgba(255, 255, 255, 0.8);
}

.stats
{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stat
{
    text-align: center;
}

.stat-value
{
    font-size: 1.5rem;
    font-weight: bold;
}


.completed-sessions
{
    margin-top: 20px;
    font-size: 1.1rem;

}